# User-specific files
.vs/
.idea/
*.suo
*.user

# Build results
bin/
obj/

# Test results
TestResults/

# Fichiers d'environnement
.env

# Dossier des exports
exports/

# Fichiers système
.DS_Store
Thumbs.db